*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #FCFAF4;
}

/* ///////////..utility classes../////////// */

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  margin-top: 10em;
  text-transform: uppercase;
  font-weight: small;
  position: absolute;
}

.btn-primary {
  color: #fff;
  background: #FDBB10;
}

.btn-primary:hover {
  background: #000000;
  transition: background 0.3s ease-in-out;
}

/* ............/navbar/............ *

/* desktop mode............/// */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  position: relative;
  margin: auto ;
  width: 50vw;
  height: 8vh;
  background: #000000;
  border-radius: 0 0 30px 30px;
  font-size: 0;
  box-shadow: 0 2px 3px 0 rgb(0, 0, 0, 1);
}

.navbar-container {
  display: flex;
  justify-content: center;
  height: 64px;
  position: relative;
  margin: auto;
  align-items: center;
}

.menu-items {
  /* order: 2; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  list-style: none; 
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: 'Mulish', sans-serif;
}

.menu-items a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
  margin: 1em;
}

.menu-items a:hover {
  color: #FDBB10;
  transition: color 0.3s ease-in-out;
}

#logo {
  width: 3vw;
  display: flex;
  max-height: 100%;
}

#account {
  width: 2vw;
  display: flex;
  justify-content: end;
  /* order: 2; */
}

/* ............//// Showcase styling ////......... */

.showcase-area {
  height: 50vh;
   width: 100vw;
  /*background: linear-gradient(
      rgba(240, 240, 240, 0.144),
      rgba(255, 255, 255, 0.336)
    ); */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
}

.showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.6rem;
  /* position: relative; */
}

.banner {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 100vw;
  height: 75vh;
  max-width: 100%;
}

.main-title {
  text-transform: uppercase;
  margin-top: 1.5em;
  display: inline-block;
  position: absolute;
  /* left: 250px; */
  color: #fff;
  top: 135px;
  text-shadow: 2px 4px 5px #808080;
  font-family: 'Merienda', cursive;
}

.descricao {
  text-transform: initial;
  display: inline-block;
  position: absolute;
  color: #fff;
  text-align: center;
  font-family: 'Mulish', sans-serif;
}

/* ......//information us//...... */

#information {
  padding: 10em 0;
}

.information-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.text {
  margin: 0;
  /* padding: 5; */
  color: black;
  font-family: 'Mulish', sans-serif;
  font-size: 24px;
  transform: translate(-150%);
  animation: text-animation 1s ease-in-out forwards;
}
.text1 {
  color: black;
  font-size: 14px;
  font-family: 'Mulish', sans-serif;
  transform: translate(-150%);
  animation: text-animation 1s ease-in-out forwards;
}

@keyframes text-animation {
100% {
  transform: translate(0);
}
}

.conteiner{
  padding: 0;
  height: 5vh;
}
.icons{
  position: relative;
  display: flex;
  justify-content: center;
  /* right: 50%; */
  width: 3em;
  border-radius: 100px;
  background: #fff;
  transform: translateX(150%);
  animation: icons-animation 1s ease-in-out forwards;
}

@keyframes icons-animation {
  100% {
    transform: translate(0);
  }
}

.informations{
  margin: 2em;
  padding: 1em;
  width: 15vw;
  background-color: #F4F4F4;
  border-radius: 0 20px 0 20px;
  /* float: left; */
}

/* ..........////Food category///........... */

#food {
  /* padding: 5rem 0 10rem 0; */
}

#food h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  /* margin-bottom: 40px; */
  text-transform: uppercase;
  color: #E24445;
  font-family: 'Mulish', sans-serif;
}

.sub-title {
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 1.2rem;
  padding: 2em;
  color: #84341B;
}
.food-container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;  
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
}

 .gradient {
  position: absolute;
  width: 15vw;  
  /* margin: 5em; */
  max-height: 300px;
}

.img-container {
  margin: 0 1rem;
  position: relative;
}

.amostra {
  position: relative;
  width: 12vw;
  margin: 5em;
  /* flex-wrap: wrap; */
 }


.img-container .preco {
  position: relative;
  top: 1em;
  margin: 3em;
  color: #fff;
  font-size: 2rem;
  font-family: 'Mulish', sans-serif;
  background: #000000;
  border-radius: 30px 30px 30px 30px;
}

.img-container .name {
  position: relative;
  font-size: 1.6rem;
  font-family: 'Mulish', sans-serif;
  color: #fff;
  /* margin: 2em; */
  left: 1em;
  top: 2em;
}

/* ......//about us//...... */

#about {
  padding: 2em;
  background: #f5f5f7;
 /* bottom: 40rem; */
}

.about-wrapper {
  display: flex;
  /* flex-wrap: wrap; */
}

.about-descricao {
  font-size: 2.3rem;
}

.about {
  font-size: 1.2rem;
  color: #555;
}

#about .small {
  font-size: 1.2rem;
  color: #666;
  font-weight: 600;
}

.about-img {
  flex: 1 1 400px;
  padding: 30px;
  transform: translateX(150%);
  animation: about-img-animation 1s ease-in-out forwards;
}

@keyframes about-img-animation {
  100% {
    transform: translate(0);
  }
}

.about-text {
  flex: 1 1 400px;
  padding: 30px;
  /* margin: auto; */
  transform: translate(-150%);
  animation: about-text-animation 1s ease-in-out forwards;
}

@keyframes about-text-animation {
  100% {
    transform: translate(0);
  }
}

.about-img img {
  display: block;
  height: 400px;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
  object-position: right;
}

/* .food-container:hover {
  transform: rotateY(25deg);
}
 .food-container:hover ~ {
  transform: rotateY(-25deg);
}
 .food-container:hover {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}
 .food-container .img-container {
  position: absolute;
  /* top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
/* } */
 /* .food-container .img-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,#f00,#000);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}
 .food-container:hover .img-container:before {
  opacity: 1;
}
 .food-container .img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 .food-container .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  box-sizing: border-box;
}
 .food-container .content .title-burger {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
  transition-delay: 0.3s;
}
.food-container:hover .content .title-burger {
  transform: translateY(0px);
}
.food-container .content .descricao-burger {
  color: #fff;
  transition: 0.5s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.4s;
}
.food-container:hover .content .descricao-burger {
  transform: translateY(0px);
} */ 

/* .img-container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.871);
  opacity: 0;
  z-index: 1;

  transform: scaleY(0);
  transform-origin: 100% 100%;
  transition: all 0.3s ease-in-out;
}

.img-container:hover::after {
  opacity: 1;
  transform: scaleY(1);
}

.img-container:hover .img-content {
  opacity: 1;
  top: 40%;
} */


/* ........ Contact Us........... */

#contact {
  padding: 5rem 0;
  /* background: rgb(226, 226, 226); */
}

.contact-container {
  display: flex;
  background: #fff;
  padding: 5rem;
}


.form-container {
  padding: 1rem;
  width: 50%;
  margin: auto;
}

.form-container input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 1rem 0;
  box-shadow: none;
  outline: none;
  margin-bottom: 1rem;
  color: #444;
  font-weight: 500;
  font-family: 'Mulish', sans-serif;
}


.form-container h2 {
  font-size: 2.7rem;
  font-weight: 500;
  color: #444;
  margin-bottom: 1rem;
  margin-top: -1.2rem;
  font-family: 'Mulish', sans-serif;
}

.form-container a {
  font-size: 1.3rem;
}

#btn {
  display: inline-block;
  justify-content: center;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  /* margin-top: 10em; */
  text-transform: uppercase;
  font-weight: small;
  position: absolute;
  font-family: 'Mulish', sans-serif;
  /* text-align: center; */
}

#btn{
  color: #fff;
  background: #FDBB10;
}

#btn:hover {
  background: #000000;
  transition: background 0.3s ease-in-out;
}

/* footer */

footer {
  background-color: #FDBB10;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  /* margin-bottom: 200px; */
}

.caixa1-footer {
  width: 29%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caixa2-footer {
  width: 71%;
  display: flex;
  justify-content: flex-end;
}

.rodape-redes {
  width: 20%;
}

/* ......../ media query /.......... */

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 2rem;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  /* ......./ food /......... */

  .food-container {
    flex-direction: column;
    align-items: stretch;
  }

  .food-type:not(:last-child) {
    margin-bottom: 3rem;
  }

  .food-type {
    box-shadow: 5px 5px 10px 0 #aaa;
  }

  .img-container {
    margin: 0;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 65%;
  }

  .navbar .menu-items li {
    font-size: 1.6rem;
  }

  .testimonial-container {
    flex-direction: column;
    text-align: center;
  }

  .food-menu-container img {
    margin: auto;
  }

  .food-menu-item {
    flex-direction: column;
    text-align: center;
  }

  .form-container {
    width: 90%;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
  }

  .contact-img {
    width: 90%;
    margin: 3rem auto;
  }

  .logo {
    position: absolute;
    top: 06px;
    right: 15px;
    font-size: 3rem;
  }

  .navbar .menu-items li {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    font-weight: 500;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .img-container h3 {
    font-size: 1.5rem;
  }

  .img-container .btn {
    font-size: 0.7rem;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .showcase-area {
    height: 50vmax;
  }
}